.App {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Franken";
  src: local("Franken"), url(./assets/fonts/franken.otf) format("opentype");
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Text-and-image { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}
.Team-list {
  width: 60%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}
.About-image {
  width:auto;
  border-radius: 10%;
}
.Main-image {
  min-height: 100vh;
  width: 100%;
  flex: 1;
}

.App-link {
  color: #61dafb;
}
