.App {
  flex-direction: column;
  align-items: center;
  align-content: center;
  
}
@font-face {
  font-family: "Franken";
  src: local("Franken"), url(./assets/fonts/franken.otf) format("opentype");
}
@font-face {
  font-family: "Forever";
  src: local("Forever"), url(./assets/fonts/forever.otf) format("opentype");
}
.Faq {
  width:60%

}

.Text-and-image { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.Team-list {
  width: 50%;

}
.About-image {
  width:auto;
  border-radius: 5%;
}
.Self-middle {
  flex-direction: row;
}
.Section {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  align-content: center;
  align-items: center;
  margin: auto;

}

.Main-image {
  min-height: 100vh;
  width: 100%;
  flex: 1;
}
